$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$color-primary: #253857;
$color-secondary: #596b26;
$color-tertiary: #ffbf5b;
$color-quatrinary: #eee5d8;
$color-five: #6E7780;