$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$color-primary:#ffb600;
$color-secondary: #272d33;
$color-tertiary: #939DA3;
$color-quatrinary: #252525;
$color-five: #6E7780;