<section class="subscribe no-padding">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
          <div class="subscribe-call-to-acton">
              <h3>Ready to discuss your project?</h3>
              <!-- <h4>(206) 291-7208</h4> -->
          </div>
        </div><!-- Col end -->

        <div class="col-lg-8">
          <div class="ts-newsletter row align-items-center">
              <div class="col-md-5 newsletter-introtext">
                <h4 class="text-white mb-0">Contact us now</h4>
                <p class="text-white">Please include your name, email address, a brief description of the project, and your estimated budget.</p>
              </div>

              <div class="col-md-7 newsletter-form">
                <form id="contact-form" class="row contact-form no-gutter" action="#" method="post">
                  <div class="col-xs-12 col-sm-6">
                    <div class="input-field name">
                      <!-- <span class="input-icon" id="name"><i class="fas fa-twitter"></i></span> -->
                      <input type="text" class="form-control" placeholder="Enter your name" required>
                    </div>
                  </div> <!-- ./col- -->
                  <div class="col-xs-12 col-sm-6">
                    <div class="input-field email">
                      <!-- <span class="input-icon" id="email"><i class="tf-envelope2"></i></span> -->
                      <input type="email" class="form-control" name="email" placeholder="Your email address" required>
                    </div>
                  </div> <!-- ./col- -->
                  <div class="col-xs-12 col-sm-12">
                    <div class="input-field">
                      <!-- <span class="input-icon" id="subject"><i class="tf-pricetags"></i></span> -->
                      <input type="text" class="form-control" name="subject" placeholder="What's your budget?" required>
                    </div>
                  </div> <!-- ./col- -->
                  <div class="col-xs-12 col-sm-12">
                    <div class="input-field message">
                      <!-- <span class="input-icon"><i class="tf-pencil2"></i></span> -->
                      <textarea name="message" id="message" class="form-control"
                        placeholder="Tell us about your project" required></textarea>
                    </div>
                  </div> <!-- ./col- -->
                  <div class="col-xs-12 col-sm-12">
                    <div class="input-field">
                      <span class="btn-border">
                        <button type="submit" class="btn btn-primary btn-custom-border text-uppercase">Send Message
                          now</button>
                      </span>
                    </div>
                  </div> <!-- ./col- -->
                </form> <!-- /.row -->
              </div>
          </div><!-- Newsletter end -->
        </div><!-- Col end -->

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ subscribe end -->