<section class="subscribe no-padding">
  <div class="container">
    <div class="row">
        <div class="col-lg-4">
          <div class="subscribe-call-to-acton">
              <h3>Ready to discuss your project?</h3>
              <!-- <h4>(206) 291-7208</h4> -->
          </div>
        </div><!-- Col end -->

        <div class="col-lg-8">
          <div class="ts-newsletter row align-items-center">
              <div class="col-md-5 newsletter-introtext">
                <h4 class="text-white mb-0">Contact us now</h4>
                <p class="text-white">Please include your name, email address, a brief description of the project, and your estimated budget.</p>
              </div>

              <div class="col-md-7 newsletter-form">
                <form action="#" method="post">
                    <div class="form-group">
                      <label for="newsletter-email" class="content-hidden">Contact Form</label>
                      <div class="col-xs-12 col-sm-12 col-lg-6">
                      <input type="text" name="name" id="newsletter-email" class="form-control form-control-lg" placeholder="Enter your name" autocomplete="off">
                    </div>
                      <input type="email" name="email" id="newsletter-email" class="form-control form-control-lg" placeholder="Your email address" autocomplete="off">
                      <input type="text" name="project" id="newsletter-email" class="form-control form-control-lg" placeholder="Tell us about your project" autocomplete="off">
                      <input type="text" name="budget" id="newsletter-email" class="form-control form-control-lg" placeholder="What is your estimated budget?" autocomplete="off">
                    </div>
                </form>
              </div>
          </div><!-- Newsletter end -->
        </div><!-- Col end -->

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
<!--/ subscribe end -->