<span id="projects"></span>
<section id="project-area" class="project-area solid-bg">

  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-title">Just a few of</h2>
        <h3 class="section-sub-title">Our Recent Projects</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
      <div class="col-12">
        <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Show All
          </label>
          <label for="commercial">
            <input type="radio" name="shuffle-filter" id="commercial" value="interior">Interior
          </label>
          <label for="education">
            <input type="radio" name="shuffle-filter" id="education" value="exterior">Exterior
          </label>
          <label for="government">
            <input type="radio" name="shuffle-filter" id="government" value="design">Design
          </label>
          <!-- <label for="infrastructure">
            <input type="radio" name="shuffle-filter" id="infrastructure" value="infrastructure">Canada
          </label> -->
          <!-- <label for="residential">
            <input type="radio" name="shuffle-filter" id="residential" value="residential">Residential
          </label>
          <label for="healthcare">
            <input type="radio" name="shuffle-filter" id="healthcare" value="healthcare">Healthcare
          </label> -->
        </div><!-- project filter end -->


        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;interior&quot;,&quot;design&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/works/project-2.png" aria-label="project-img">
                <img class="img-fluid project-img" src="images/works/project-2.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a>NURSERY</a>
                  </h3>
                  <p class="project-cat">
                    Unfinished attic finished!
                    Just in time! The baby arrived and this
                    is his new cozy spot with his family.
                    Light and bright, insulated and safe.
                    Great nursery ensuite! — in Columbia City.</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 1 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;interior&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/works/project-3.png" aria-label="project-img">
                <img class="img-fluid project-img" src="images/works/project-3.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a>BATHROOM</a>
                  </h3>
                  <p class="project-cat">
                    This "Theirs" bathroom is a total transformation;
                    custom vanity and tile design throughout,
                    including the bath surround.
                    The clients wanted to keep that original window
                    as part of the design. Good call!</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 2 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;exterior&quot;,&quot;design&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/works/project-4.png" aria-label="project-img">
                <img class="img-fluid project-img project-img" src="images/works/project-4.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a>BAY</a>
                  </h3>
                  <p class="project-cat">
                    This bay turned out so well.
                    It will be a cozy gathering place for family meals,
                    or just gazing out the windows. Simple and it
                    fits right in with the house and the neighborhood.</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 3 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;exterior&quot;,&quot;design&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/works/project-5.png" aria-label="project-img">
                <img class="img-fluid project-img" src="images/works/project-5.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a>DECK DESIGN</a>
                  </h3>
                  <p class="project-cat">
                    Elevated deck design for a build that had not one but two
                    Environmental Critical Area designations. An ECA can
                    really complicate and slow down any permitting process.
                    However, we were able to get both done through STFI.</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 4 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;exterior&quot;,&quot;education&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/works/project-6.png" aria-label="project-img">
                <img class="img-fluid project-img project-img-wider" src="images/works/project-6.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a>PATIO, FENCE</a>
                  </h3>
                  <p class="project-cat">
                    Check out this beautiful outdoor project we did in
                    Judkins Park. The future patio space was unusable and
                    hidden behind a very tall wall of Aborvite. We took a
                    basic layout the clients had and designed a custom
                    patio, fence and garden beds in the right of way.
                    Let the sunshine in!</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 5 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;interior&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="images/works/projects-8.png" aria-label="project-img">
                <img class="img-fluid project-img" src="images/works/projects-8.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    <a>Bathroom Entry</a>
                  </h3>
                  <p class="project-cat">Really pleased with how this bathroom entry cabinetry built-in turned out. Plenty of storage added.
                    — in Hillman City.</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 6 end -->
        </div><!-- shuffle end -->
      </div>

      <div class="col-12">
        <!-- <div class="general-btn text-center">
          <a class="btn btn-primary" href="projects.html">View All Projects</a>
        </div> -->
      </div>

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Project area end -->