<span id="services"></span>
<section id="ts-service-area" class="ts-service-area pb-0" >
  <div class="container">
    <div class="row text-center">
        <div class="col-12 service-title">
          <h2 class="section-title" >Let's get down to business</h2>
          <h3 class="section-sub-title">What We Do</h3>
        </div>
    </div>
    <!--/ Title row end -->

    <div class="row">
        <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <!-- <img loading="lazy" src="images/icon-image/service-icon1.png" alt="service-icon"> -->
                <span class="material-symbols-outlined" style="font-size: 60px;">
                  architecture
                  </span>
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Design Services</a></h3>
                <p>We offer in-house design services. We guide you through the process of choosing colors and textures. We know how to select materials that match the style of your home, and current trends.</p>
              </div>
          </div><!-- Service 1 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <!-- <img loading="lazy" src="images/icon-image/service-icon2.png" alt="service-icon"> -->
                <span class="material-symbols-outlined" style="font-size: 60px;">
                  history_edu
                  </span>
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Permitting Services</a></h3>
                <p>Let us take care of the often arduous process of obtaining the necessary permits for your project!</p>
              </div>
          </div><!-- Service 2 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <!-- <img loading="lazy" src="images/icon-image/service-icon3.png"  alt="service-icon"> -->
                <span class="material-symbols-outlined" style="font-size: 60px;">
                  construction
                  </span>
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Restoration</a></h3>
                <p>Got a fixer-upper? Want to bring that craftsman back to its former glory? We've got you covered!</p>
              </div>
          </div><!-- Service 3 end -->

        </div><!-- Col end -->

        <div class="col-lg-4 text-center">
          <img loading="lazy" class="img-fluid" src="images/sketch-1.png" alt="service-avater-image">
        </div><!-- Col end -->

        <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <!-- <img loading="lazy" src="images/icon-image/service-icon4.png" alt="service-icon"> -->
                <span class="material-symbols-outlined" style="font-size: 60px;">
                  foundation
                  </span>
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Remodels</a></h3>
                <p>Whether you want to redo a bathroom, remodal your kitchen, turn an attic into a nursery or finish a basement, we do it all using locally sourced sustainable materials.<br><br></p>
              </div>
          </div><!-- Service 4 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <!-- <img loading="lazy" src="images/icon-image/service-icon5.png" alt="service-icon"> -->
                <span class="material-symbols-outlined" style="font-size: 60px;">
                  room_preferences
                  </span>
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#">Interior Additions</a></h3>
                <p>We are experts in adding levels to, or extending rooms in your home.<br><br></p>
              </div>
          </div><!-- Service 5 end -->

          <div class="ts-service-box d-flex" >
              <div class="ts-service-box-img">
                <!-- <img loading="lazy" src="images/icon-image/service-icon6.png" alt="service-icon"> -->
                <span class="material-symbols-outlined" style="font-size: 60px;">
                  wb_shade
                  </span>
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#"></a>Exterior Additions</h3>
                <p>We have extensive experience designing and building decks, fences, trellises, and rain gardens to name a few.</p>
              </div>
          </div><!-- Service 6 end -->
        </div><!-- Col end -->
    </div><!-- Content row end -->

  </div>
  <!--/ Container end -->
</section><!-- Service end -->